Repository adobe/aio-commerce-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: aio-commerce-sdk, pkg: aio-commerce-lib-auth, generator, cfg: typescript, cfg: tsdown

chore: remove license output option as now banner is used
  configs/tsdown/tsdown.config.base.ts
Labels: cfg: tsdown

chore: add clarifying notes in readme
  README.md
  turbo/generators/create-package/README.md
Labels: generator

chore: fix turbo scripts for correct parellelism and caching
  configs/typedoc/package.json
  configs/typescript/package.json
  package.json
  turbo.json
Labels: cfg: typescript

refactor: reorder tasks in ci
  .github/workflows/pr-checks.yml
Labels: none

chore: remove error on warnings for pre-commit
  package.json
  packages/aio-commerce-lib-core/package.json
  packages/aio-commerce-lib-core/source/error/validation-error.ts
  packages/aio-commerce-sdk/package.json
  turbo/generators/create-package/template/package.json.hbs
Labels: pkg: aio-commerce-sdk, generator

chore: simplify tsconfig.json with configDir template var
  configs/tsdown/tsconfig.json
  configs/typescript/tsconfig.base.json
  packages/aio-commerce-lib-auth/tsconfig.json
  packages/aio-commerce-lib-core/tsconfig.json
  packages/aio-commerce-sdk/tsconfig.json
  turbo/generators/create-package/template/tsconfig.json.hbs
Labels: pkg: aio-commerce-sdk, pkg: aio-commerce-lib-auth, generator, cfg: typescript, cfg: tsdown

chore: keep comments on dts but not on source
  configs/tsdown/tsdown.config.base.ts
  configs/typescript/tsconfig.base.json
Labels: cfg: typescript, cfg: tsdown

chore: add changesets
  .changeset/little-baths-listen.md
  .changeset/old-clowns-vanish.md
Labels: none

chore: fix comment preservation in builds
  configs/tsdown/tsdown.config.base.ts
  configs/vitest/vitest.config.d.ts
  configs/vitest/vitest.config.js
  packages/aio-commerce-lib-auth/source/index.ts
  packages/aio-commerce-lib-auth/source/lib/ims-auth/provider.ts
  packages/aio-commerce-lib-auth/source/lib/ims-auth/schema.ts
  packages/aio-commerce-lib-auth/source/lib/integration-auth/provider.ts
  packages/aio-commerce-lib-auth/source/lib/integration-auth/schema.ts
  packages/aio-commerce-lib-auth/test/ims-auth.test.ts
  packages/aio-commerce-lib-auth/test/integration-auth.test.ts
  packages/aio-commerce-lib-auth/tsdown.config.ts
  packages/aio-commerce-lib-auth/vitest.config.ts
  packages/aio-commerce-lib-core/source/error/base-error.ts
  packages/aio-commerce-lib-core/source/error/index.ts
  packages/aio-commerce-lib-core/source/error/validation-error.ts
  packages/aio-commerce-lib-core/test/fixtures/valibot.ts
  packages/aio-commerce-lib-core/test/spec/error/base-error.test.ts
  packages/aio-commerce-lib-core/test/spec/error/validation-error.test.ts
  packages/aio-commerce-lib-core/tsdown.config.ts
  packages/aio-commerce-lib-core/vitest.config.ts
  packages/aio-commerce-sdk/source/auth.ts
  packages/aio-commerce-sdk/source/core.ts
  packages/aio-commerce-sdk/tsdown.config.ts
  turbo/generators/config.ts
  turbo/generators/create-package/index.ts
  turbo/generators/create-package/template/source/index.ts.hbs
  turbo/generators/create-package/template/test/index.test.ts.hbs
  turbo/generators/create-package/template/tsdown.config.ts.hbs
  turbo/generators/create-package/template/vitest.config.ts.hbs
Labels: pkg: aio-commerce-sdk, pkg: aio-commerce-lib-auth, generator, cfg: tsdown

chore: improve DEVELOPMENT guide
  .github/DEVELOPMENT.md
Labels: none

docs: remove misleading note
  .github/DEVELOPMENT.md
Labels: none

chore: remove fixed packaging
  .changeset/config.json
Labels: none

chore: add base suffix to base config files
  configs/typedoc/package.json
  configs/typedoc/typedoc.base.json
  configs/vitest/package.json
  configs/vitest/vitest.config.base.d.ts
  configs/vitest/vitest.config.base.js
  packages/aio-commerce-lib-auth/typedoc.json
  packages/aio-commerce-lib-auth/vitest.config.ts
  packages/aio-commerce-lib-core/typedoc.json
  packages/aio-commerce-lib-core/vitest.config.ts
Labels: pkg: aio-commerce-lib-auth

chore: add turbo docs task
  turbo.json
Labels: none

docs: regenerate all docs
  packages/aio-commerce-lib-auth/docs/api-reference/functions/assertImsAuthParams.md
  packages/aio-commerce-lib-auth/docs/api-reference/functions/assertIntegrationAuthParams.md
  packages/aio-commerce-lib-auth/docs/api-reference/functions/getImsAuthProvider.md
  packages/aio-commerce-lib-auth/docs/api-reference/functions/getIntegrationAuthProvider.md
  packages/aio-commerce-lib-auth/docs/api-reference/interfaces/ImsAuthProvider.md
  packages/aio-commerce-lib-auth/docs/api-reference/interfaces/IntegrationAuthProvider.md
  packages/aio-commerce-lib-auth/docs/api-reference/type-aliases/ImsAuthEnv.md
  packages/aio-commerce-lib-auth/docs/api-reference/type-aliases/ImsAuthParams.md
  packages/aio-commerce-lib-auth/docs/api-reference/type-aliases/IntegrationAuthParams.md
  packages/aio-commerce-lib-auth/docs/api-reference/variables/IMS_AUTH_ENV.md
  packages/aio-commerce-lib-core/docs/api-reference/error/classes/CommerceSdkErrorBase.md
  packages/aio-commerce-lib-core/docs/api-reference/error/classes/CommerceSdkValidationError.md
Labels: pkg: aio-commerce-lib-auth

Remove `+git` prefix from bugs url in create package
  turbo/generators/create-package/template/package.json.hbs
Labels: generator

fix: vitest configs
  configs/vitest/README.md
  packages/aio-commerce-lib-auth/vitest.config.ts
  packages/aio-commerce-lib-core/vitest.config.ts
  turbo/generators/create-package/template/vitest.config.ts.hbs
Labels: pkg: aio-commerce-lib-auth, generator

docs: add clarifying note of changeset name
  .github/DEVELOPMENT.md
Labels: none

.github/labeler.yml:

# See https://github.com/actions/labeler

"pkg: aio-commerce-sdk":
- changed-files:
  - any-glob-to-any-file: packages/aio-commerce-sdk/**

"pkg: aio-commerce-lib-auth":
- changed-files:
  - any-glob-to-any-file: packages/aio-commerce-lib-auth/**

"generator":
- changed-files:
  - any-glob-to-any-file: turbo/generators/**

"cfg: typescript":
- changed-files:
  - any-glob-to-any-file: configs/typescript/**

"cfg: tsdown":
- changed-files:
  - any-glob-to-any-file: configs/tsdown/**
