Repository adobe/aio-commerce-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: aio-commerce-sdk, pkg: aio-commerce-lib-auth, generator, cfg: typescript, cfg: tsdown

.github/labeler.yml:

# See https://github.com/actions/labeler

"pkg: aio-commerce-sdk":
- changed-files:
  - any-glob-to-any-file: packages/aio-commerce-sdk/**

"pkg: aio-commerce-lib-auth":
- changed-files:
  - any-glob-to-any-file: packages/aio-commerce-lib-auth/**

"generator":
- changed-files:
  - any-glob-to-any-file: turbo/generators/**

"cfg: typescript":
- changed-files:
  - any-glob-to-any-file: configs/typescript/**

"cfg: tsdown":
- changed-files:
  - any-glob-to-any-file: configs/tsdown/**

fix: create-package generator test script
  turbo/generators/create-package/template/package.json.hbs
Labels: generator

docs: fix typo in readme
  README.md
Labels: none

chore: regen lock file
  pnpm-lock.yaml
Labels: none

Fix template and root readme (#14)
  README.md
  turbo/generators/create-package/template/package.json.hbs
Labels: generator

chore: fix pr checks
  .github/workflows/pr-checks.yml
Labels: none

try install
  .github/workflows/pr-checks.yml
Labels: none

chore: fix
  .github/workflows/pr-checks.yml
Labels: none

chore: add required co-dependencies
  packages/aio-commerce-lib-auth/source/index.ts
  packages/aio-commerce-lib-auth/source/lib/ims-auth.ts
  packages/aio-commerce-lib-auth/source/lib/integration-auth.ts
  packages/aio-commerce-lib-auth/source/lib/integration-auth/integration-auth-types.ts
  packages/aio-commerce-lib-auth/source/lib/validation.ts
  packages/aio-commerce-lib-core/package.json
  packages/aio-commerce-lib-core/source/index.ts
  packages/aio-commerce-lib-core/source/lib/validation.ts
  packages/aio-commerce-lib-core/test/index.test.ts
  packages/aio-commerce-lib-core/test/validation.test.ts
  packages/aio-commerce-sdk/package.json
  packages/aio-commerce-sdk/source/core.ts
  packages/aio-commerce-sdk/source/index.ts
  pnpm-lock.yaml
  turbo.json
Labels: pkg: aio-commerce-sdk, pkg: aio-commerce-lib-auth

chore: add docs
  .github/DEVELOPMENT.md
Labels: none

chore: add docs
  README.md
Labels: none

chore: downgrade package to 0.1.0
  packages/aio-commerce-lib-core/package.json
Labels: none

chore: Improve documentation
  packages/aio-commerce-lib-auth/README.md
  packages/aio-commerce-lib-auth/source/lib/ims-auth/ims-auth-types.ts
  packages/aio-commerce-lib-auth/test/ims-auth.test.ts
Labels: pkg: aio-commerce-lib-auth

chore: clean up ValidationErrorType
  packages/aio-commerce-lib-auth/source/lib/ims-auth.ts
  packages/aio-commerce-lib-auth/source/lib/integration-auth.ts
  packages/aio-commerce-lib-auth/source/lib/integration-auth/integration-auth-types.ts
  packages/aio-commerce-lib-core/source/lib/validation.ts
  packages/aio-commerce-lib-core/test/validation.test.ts
Labels: pkg: aio-commerce-lib-auth

chore: Result type correction that it can either be Success or Failure
  packages/aio-commerce-lib-core/source/lib/result.ts
Labels: none

chore: revise docs
  README.md
Labels: none

chore: flatten file dir
  packages/aio-commerce-lib-auth/source/index.ts
  packages/aio-commerce-lib-auth/source/lib/ims-auth-types.ts
  packages/aio-commerce-lib-auth/source/lib/ims-auth.ts
  packages/aio-commerce-lib-auth/source/lib/integration-auth-types.ts
  packages/aio-commerce-lib-auth/source/lib/integration-auth.ts
  packages/aio-commerce-lib-auth/test/ims-auth.test.ts
  packages/aio-commerce-lib-auth/test/integration-auth.test.ts
Labels: pkg: aio-commerce-lib-auth

chore: cleanup unused files
  packages/aio-commerce-lib-auth/source/lib/params.ts
Labels: pkg: aio-commerce-lib-auth

chore: remove union and use Result<T,E>
  packages/aio-commerce-lib-auth/source/lib/ims-auth-types.ts
  packages/aio-commerce-lib-auth/source/lib/ims-auth.ts
Labels: pkg: aio-commerce-lib-auth

chore: fix CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
  package.json
Labels: none

chore: test CODE_OF_CONDUCT.md
  .prettierignore
  package.json
Labels: none

chore: fix exports
  packages/aio-commerce-lib-auth/source/lib/ims-auth-types.ts
  packages/aio-commerce-lib-auth/source/lib/ims-auth.ts
  packages/aio-commerce-lib-auth/source/lib/integration-auth-types.ts
  packages/aio-commerce-lib-auth/source/lib/integration-auth.ts
  packages/aio-commerce-lib-auth/test/ims-auth.test.ts
  packages/aio-commerce-lib-auth/test/integration-auth.test.ts
  packages/aio-commerce-lib-core/package.json
  packages/aio-commerce-lib-core/source/index.ts
  packages/aio-commerce-lib-core/test/validation.test.ts
  packages/aio-commerce-lib-core/tsdown.config.ts
Labels: pkg: aio-commerce-lib-auth

chore: fix exports
  packages/aio-commerce-sdk/source/core.ts
Labels: pkg: aio-commerce-sdk

chore: add keywords
  packages/aio-commerce-lib-core/package.json
Labels: none

chore: add documentation
  packages/aio-commerce-lib-auth/test/integration-auth.test.ts
  packages/aio-commerce-lib-core/README.md
Labels: pkg: aio-commerce-lib-auth

chore: fix test
  packages/aio-commerce-lib-auth/test/ims-auth.test.ts
Labels: pkg: aio-commerce-lib-auth

chore: remove undefineds from type
  packages/aio-commerce-lib-core/source/lib/result.ts
Labels: none

chore: cleanup
  packages/aio-commerce-lib-auth/source/lib/ims-auth-types.ts
  packages/aio-commerce-sdk/source/auth.ts
  packages/aio-commerce-sdk/source/core.ts
  packages/aio-commerce-sdk/source/index.ts
Labels: pkg: aio-commerce-sdk, pkg: aio-commerce-lib-auth

chore: changeset
  .changeset/0.2.0.md
Labels: none

chore: add changeset docs
  .changeset/0.2.0.md
Labels: none

Notify on release initial iteration
  .github/workflows/notify-on-release.yml
  pnpm-lock.yaml
Labels: none

chore: fix README.md
  .github/DEVELOPMENT.md
  packages/aio-commerce-lib-core/README.md
Labels: none

Notify on release initial iteration (#15)
  .github/workflows/notify-on-release.yml
  pnpm-lock.yaml
Labels: none

move nonEmptyString closer to it's use
  packages/aio-commerce-lib-auth/source/lib/ims-auth-types.ts
  packages/aio-commerce-lib-auth/source/lib/validation.ts
Labels: pkg: aio-commerce-lib-auth

Notify on release 2nd iteration
  .github/workflows/notify-on-release.yml
Labels: none

Notify on release 2nd iteration (#16)
  .github/workflows/notify-on-release.yml
Labels: none

Notify on release 3rd iteration
  .github/workflows/notify-on-release.yml
Labels: none

chore: improve documentation of methods
  packages/aio-commerce-lib-auth/README.md
  packages/aio-commerce-lib-core/README.md
Labels: pkg: aio-commerce-lib-auth

Notify on release 3rd iteration (#17)
  .github/workflows/notify-on-release.yml
Labels: none

chore: add JsDocs
  packages/aio-commerce-lib-auth/source/lib/ims-auth.ts
Labels: pkg: aio-commerce-lib-auth

refactor: change function signature from async promise to sync
  packages/aio-commerce-lib-auth/source/lib/ims-auth.ts
  packages/aio-commerce-lib-auth/source/lib/integration-auth.ts
  packages/aio-commerce-lib-auth/test/ims-auth.test.ts
Labels: pkg: aio-commerce-lib-auth
