Repository adobe/aio-commerce-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: aio-commerce-sdk, pkg: aio-commerce-lib-auth, generator, cfg: typescript, cfg: tsdown

refactor: change names of Success to Ok and Failure to Err
  packages/aio-commerce-lib-auth/README.md
  packages/aio-commerce-lib-auth/source/lib/ims-auth.ts
  packages/aio-commerce-lib-auth/source/lib/integration-auth-types.ts
  packages/aio-commerce-lib-auth/source/lib/integration-auth.ts
  packages/aio-commerce-lib-auth/test/ims-auth.test.ts
  packages/aio-commerce-lib-auth/test/integration-auth.test.ts
  packages/aio-commerce-lib-core/README.md
  packages/aio-commerce-lib-core/source/lib/result.ts
Labels: pkg: aio-commerce-lib-auth

chore: add wip warning
  packages/aio-commerce-lib-core/README.md
Labels: none

chore: docs
  packages/aio-commerce-lib-auth/source/lib/ims-auth.ts
  packages/aio-commerce-lib-auth/source/lib/integration-auth.ts
Labels: pkg: aio-commerce-lib-auth

chore: fix wording
  packages/aio-commerce-lib-auth/source/lib/integration-auth.ts
Labels: pkg: aio-commerce-lib-auth

chore: fix lock file
  pnpm-lock.yaml
Labels: none

chore: fix tree-shaking
  packages/aio-commerce-sdk/source/auth.ts
  packages/aio-commerce-sdk/source/core.ts
  packages/aio-commerce-sdk/source/index.ts
Labels: pkg: aio-commerce-sdk

fix: getToken context should be set first
  packages/aio-commerce-lib-auth/source/lib/ims-auth.ts
Labels: pkg: aio-commerce-lib-auth

fix: revise type in docs
  packages/aio-commerce-lib-core/README.md
Labels: none

fix: remove line in DEVELOPMENT.md
  .github/DEVELOPMENT.md
Labels: none

fix: improve changeset message
  .changeset/0.2.0.md
Labels: none

chore: add additional files to the ignore
  .prettierignore
Labels: none

chore: restore part of the README.md
  packages/aio-commerce-lib-auth/README.md
Labels: pkg: aio-commerce-lib-auth

chore: improve docs for readability
  packages/aio-commerce-lib-auth/README.md
Labels: pkg: aio-commerce-lib-auth

chore: improve docs for readability
  packages/aio-commerce-lib-auth/README.md
Labels: pkg: aio-commerce-lib-auth

chore: improve docs for readability
  packages/aio-commerce-lib-auth/README.md
Labels: pkg: aio-commerce-lib-auth

refactor: address core-lib issues
  packages/aio-commerce-lib-core/README.md
  packages/aio-commerce-lib-core/package.json
  packages/aio-commerce-lib-core/source/index.ts
  packages/aio-commerce-lib-core/source/lib/result.ts
  packages/aio-commerce-lib-core/source/lib/validation.ts
  packages/aio-commerce-lib-core/test/result.test.ts
  packages/aio-commerce-lib-core/test/validation.test.ts
  packages/aio-commerce-lib-core/tsconfig.json
  packages/aio-commerce-lib-core/tsdown.config.ts
Labels: none

refactor: allow custom validation error types
  packages/aio-commerce-lib-core/source/lib/validation.ts
Labels: none

add map and mapErr to result implementation
  packages/aio-commerce-lib-core/source/lib/result.ts
Labels: none

refactor: address auth-lib issues
  package.json
  packages/aio-commerce-lib-auth/package.json
  packages/aio-commerce-lib-auth/source/index.ts
  packages/aio-commerce-lib-auth/source/lib/ims-auth-types.ts
  packages/aio-commerce-lib-auth/source/lib/ims-auth.ts
  packages/aio-commerce-lib-auth/source/lib/ims-auth/provider.ts
  packages/aio-commerce-lib-auth/source/lib/ims-auth/schema.ts
  packages/aio-commerce-lib-auth/source/lib/integration-auth-types.ts
  packages/aio-commerce-lib-auth/source/lib/integration-auth.ts
  packages/aio-commerce-lib-auth/source/lib/integration-auth/provider.ts
  packages/aio-commerce-lib-auth/source/lib/integration-auth/schema.ts
  packages/aio-commerce-lib-auth/test/ims-auth.test.ts
  packages/aio-commerce-lib-auth/test/integration-auth.test.ts
  pnpm-lock.yaml
Labels: pkg: aio-commerce-lib-auth

Update packages/aio-commerce-lib-auth/source/lib/ims-auth/schema.ts
  packages/aio-commerce-lib-auth/source/lib/ims-auth/schema.ts
Labels: pkg: aio-commerce-lib-auth

Update packages/aio-commerce-lib-core/source/lib/result.ts
  packages/aio-commerce-lib-core/source/lib/result.ts
Labels: none

Update packages/aio-commerce-lib-core/source/lib/result.ts
  packages/aio-commerce-lib-core/source/lib/result.ts
Labels: none

fix: typo
  packages/aio-commerce-lib-auth/test/ims-auth.test.ts
Labels: pkg: aio-commerce-lib-auth

fix: tryGetAccessToken should go after context set
  packages/aio-commerce-lib-auth/source/lib/ims-auth/provider.ts
Labels: pkg: aio-commerce-lib-auth

chore: remove prettier ignore in favour of manual ignore
  .prettierignore
  package.json
Labels: none

refactor: remove redundant token var
  packages/aio-commerce-lib-auth/source/lib/ims-auth/provider.ts
Labels: pkg: aio-commerce-lib-auth

docs: improve changeset
  .changeset/0.2.0.md
Labels: none

fix: wrong export in sdk
  packages/aio-commerce-sdk/package.json
  packages/aio-commerce-sdk/source/auth.ts
  packages/aio-commerce-sdk/source/core.ts
  packages/aio-commerce-sdk/source/index.ts
Labels: pkg: aio-commerce-sdk

docs: recommend subpath imports
  packages/aio-commerce-sdk/README.md
Labels: pkg: aio-commerce-sdk

refactor: remove es-toolkit dep and introduce manual snake case mapping
  packages/aio-commerce-lib-auth/package.json
  packages/aio-commerce-lib-auth/source/lib/ims-auth/provider.ts
  pnpm-lock.yaml
Labels: pkg: aio-commerce-lib-auth

ACSP-277 - Validation Errors (#18)
  .changeset/0.2.0.md
  .github/DEVELOPMENT.md
  .github/workflows/pr-checks.yml
  CODE_OF_CONDUCT.md
  README.md
  package.json
  packages/aio-commerce-lib-auth/README.md
  packages/aio-commerce-lib-auth/package.json
  packages/aio-commerce-lib-auth/source/index.ts
  packages/aio-commerce-lib-auth/source/lib/ims-auth.ts
  packages/aio-commerce-lib-auth/source/lib/ims-auth/provider.ts
  packages/aio-commerce-lib-auth/source/lib/ims-auth/schema.ts
  packages/aio-commerce-lib-auth/source/lib/integration-auth.ts
  packages/aio-commerce-lib-auth/source/lib/integration-auth/provider.ts
  packages/aio-commerce-lib-auth/source/lib/integration-auth/schema.ts
  packages/aio-commerce-lib-auth/source/lib/params.ts
  packages/aio-commerce-lib-auth/test/ims-auth.test.ts
  packages/aio-commerce-lib-auth/test/integration-auth.test.ts
  packages/aio-commerce-lib-core/README.md
  packages/aio-commerce-lib-core/package.json
  packages/aio-commerce-lib-core/source/index.ts
  packages/aio-commerce-lib-core/source/lib/result.ts
  packages/aio-commerce-lib-core/source/lib/validation.ts
  packages/aio-commerce-lib-core/test/result.test.ts
  packages/aio-commerce-lib-core/test/validation.test.ts
  packages/aio-commerce-lib-core/tsconfig.json
  packages/aio-commerce-lib-core/tsdown.config.ts
  packages/aio-commerce-lib-core/vitest.config.ts
  packages/aio-commerce-sdk/README.md
  packages/aio-commerce-sdk/source/core.ts
  pnpm-lock.yaml
  turbo.json
Labels: pkg: aio-commerce-sdk, pkg: aio-commerce-lib-auth

Slack on release testing
  .github/scripts/announce.js
  .github/workflows/notify-on-release.yml
Labels: none

Msg formatting
  .github/scripts/announce.js
Labels: none

Move to publish workflow
  .github/workflows/notify-on-release.yml
  .github/workflows/publish.yml
Labels: none

Extra break line
  .github/scripts/announce.js
Labels: none

Slack on publish (#21)
  .github/scripts/announce.js
  .github/workflows/notify-on-release.yml
  .github/workflows/publish.yml
Labels: none

feat: add more lib core utilities
  biome.jsonc
  packages/aio-commerce-lib-core/source/lib/result.ts
  packages/aio-commerce-lib-core/test/result.test.ts
Labels: none

fix: build config not moving nested declaration cjs files
  configs/tsdown/package.json
  configs/tsdown/tsdown.config.base.ts
  pnpm-lock.yaml
Labels: cfg: tsdown

fix: remove double IMS from auth param
  packages/aio-commerce-lib-auth/README.md
  packages/aio-commerce-lib-auth/source/lib/ims-auth/provider.ts
  packages/aio-commerce-lib-auth/source/lib/ims-auth/schema.ts
  packages/aio-commerce-lib-auth/test/ims-auth.test.ts
Labels: pkg: aio-commerce-lib-auth

chore: changesets
  .changeset/pretty-hats-count.md
  .changeset/wild-cases-learn.md
Labels: none

.github/labeler.yml:

# See https://github.com/actions/labeler

"pkg: aio-commerce-sdk":
- changed-files:
  - any-glob-to-any-file: packages/aio-commerce-sdk/**

"pkg: aio-commerce-lib-auth":
- changed-files:
  - any-glob-to-any-file: packages/aio-commerce-lib-auth/**

"generator":
- changed-files:
  - any-glob-to-any-file: turbo/generators/**

"cfg: typescript":
- changed-files:
  - any-glob-to-any-file: configs/typescript/**

"cfg: tsdown":
- changed-files:
  - any-glob-to-any-file: configs/tsdown/**
