Repository adobe/aio-commerce-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: aio-commerce-sdk, pkg: aio-commerce-lib-auth, generator, cfg: typescript, cfg: tsdown

.github/labeler.yml:

# See https://github.com/actions/labeler

"pkg: aio-commerce-sdk":
- changed-files:
  - any-glob-to-any-file: packages/aio-commerce-sdk/**

"pkg: aio-commerce-lib-auth":
- changed-files:
  - any-glob-to-any-file: packages/aio-commerce-lib-auth/**

"generator":
- changed-files:
  - any-glob-to-any-file: turbo/generators/**

"cfg: typescript":
- changed-files:
  - any-glob-to-any-file: configs/typescript/**

"cfg: tsdown":
- changed-files:
  - any-glob-to-any-file: configs/tsdown/**

chore: add files property to only publish actual distribution files
  packages/aio-commerce-lib-auth/package.json
  packages/aio-commerce-lib-core/package.json
  packages/aio-commerce-sdk/package.json
Labels: pkg: aio-commerce-sdk, pkg: aio-commerce-lib-auth

chore: refresh lockfile
  pnpm-lock.yaml
Labels: none

test: add tests for missing non-tested result functions
  packages/aio-commerce-lib-core/test/result.test.ts
Labels: none

test: fix failing result test
  packages/aio-commerce-lib-core/test/result.test.ts
Labels: none

chore: changeset improvement
  .changeset/pretty-hats-count.md
  .changeset/wild-cases-learn.md
Labels: none

refactor: use result only on validation attempts
  packages/aio-commerce-lib-auth/source/index.ts
  packages/aio-commerce-lib-auth/source/lib/ims-auth/provider.ts
  packages/aio-commerce-lib-auth/source/lib/integration-auth/provider.ts
  packages/aio-commerce-lib-auth/test/ims-auth.test.ts
  packages/aio-commerce-lib-auth/test/integration-auth.test.ts
Labels: pkg: aio-commerce-lib-auth

refactor: simplify result
  packages/aio-commerce-lib-core/source/lib/result.ts
  packages/aio-commerce-lib-core/test/result.test.ts
Labels: none

chore: changeset improvement
  .changeset/pretty-hats-count.md
  .changeset/wild-cases-learn.md
Labels: none

refactor: clean
  packages/aio-commerce-lib-auth/source/index.ts
  packages/aio-commerce-lib-auth/source/lib/ims-auth/provider.ts
  packages/aio-commerce-lib-auth/source/lib/ims-auth/schema.ts
  packages/aio-commerce-lib-auth/source/lib/integration-auth/provider.ts
  packages/aio-commerce-lib-auth/source/lib/integration-auth/schema.ts
  packages/aio-commerce-lib-auth/test/ims-auth.test.ts
  packages/aio-commerce-lib-auth/test/integration-auth.test.ts
  packages/aio-commerce-lib-core/source/index.ts
  packages/aio-commerce-lib-core/source/lib/error.ts
  packages/aio-commerce-lib-core/source/lib/validation.ts
  packages/aio-commerce-lib-core/test/validation.test.ts
  packages/aio-commerce-lib-core/tsdown.config.ts
Labels: pkg: aio-commerce-lib-auth

Add docs
  packages/aio-commerce-lib-auth/source/lib/ims-auth/provider.md
  packages/aio-commerce-lib-auth/source/lib/ims-auth/schema.md
  packages/aio-commerce-lib-auth/source/lib/integration-auth/provider.md
  packages/aio-commerce-lib-auth/source/lib/integration-auth/schema.md
  packages/aio-commerce-lib-auth/test/ims-auth.test.md
  packages/aio-commerce-lib-auth/test/integration-auth.test.md
  packages/aio-commerce-lib-core/source/lib/error.md
  packages/aio-commerce-lib-core/source/lib/result.md
  packages/aio-commerce-lib-core/source/lib/validation.md
  packages/aio-commerce-lib-core/test/result.test.md
  packages/aio-commerce-lib-core/test/validation.test.md
Labels: pkg: aio-commerce-lib-auth

chore: add changeset
  .changeset/0.3.0.md
Labels: none

refactor: use PropertyKey instead
  packages/aio-commerce-lib-auth/source/lib/ims-auth/provider.ts
  packages/aio-commerce-lib-auth/source/lib/integration-auth/provider.ts
Labels: pkg: aio-commerce-lib-auth

chore: add negative assert cases
  packages/aio-commerce-lib-auth/source/lib/ims-auth/provider.ts
  packages/aio-commerce-lib-auth/source/lib/integration-auth/provider.ts
Labels: pkg: aio-commerce-lib-auth

refactor: style improvements move properties to top of the class
  packages/aio-commerce-lib-core/source/lib/validation.ts
Labels: none

Validate ImsAuth configuration using composition (#23)
  .changeset/0.3.0.md
  packages/aio-commerce-lib-auth/source/index.ts
  packages/aio-commerce-lib-auth/source/lib/ims-auth/provider.ts
  packages/aio-commerce-lib-auth/source/lib/ims-auth/schema.ts
  packages/aio-commerce-lib-auth/source/lib/integration-auth/provider.ts
  packages/aio-commerce-lib-auth/source/lib/integration-auth/schema.ts
  packages/aio-commerce-lib-auth/test/ims-auth.test.ts
  packages/aio-commerce-lib-auth/test/integration-auth.test.ts
  packages/aio-commerce-lib-core/source/index.ts
  packages/aio-commerce-lib-core/source/lib/error.ts
  packages/aio-commerce-lib-core/source/lib/validation.ts
  packages/aio-commerce-lib-core/test/validation.test.ts
  packages/aio-commerce-lib-core/tsdown.config.ts
Labels: pkg: aio-commerce-lib-auth

chore: Update docs
  packages/aio-commerce-lib-auth/README.md
  packages/aio-commerce-lib-core/README.md
  packages/aio-commerce-sdk/README.md
Labels: pkg: aio-commerce-sdk, pkg: aio-commerce-lib-auth

feat: add more lib core utilities
  biome.jsonc
  packages/aio-commerce-lib-core/source/lib/result.ts
  packages/aio-commerce-lib-core/test/result.test.ts
Labels: none

fix: build config not moving nested declaration cjs files
  configs/tsdown/package.json
  configs/tsdown/tsdown.config.base.ts
  pnpm-lock.yaml
Labels: cfg: tsdown

fix: remove double IMS from auth param
  packages/aio-commerce-lib-auth/README.md
Labels: pkg: aio-commerce-lib-auth

chore: add files property to only publish actual distribution files
  packages/aio-commerce-lib-auth/package.json
  packages/aio-commerce-lib-core/package.json
  packages/aio-commerce-sdk/package.json
Labels: pkg: aio-commerce-sdk, pkg: aio-commerce-lib-auth

chore: changesets
  .changeset/pretty-hats-count.md
  .changeset/wild-cases-learn.md
Labels: none

test: fix failing result test
  packages/aio-commerce-lib-core/test/result.test.ts
Labels: none

chore: refresh lockfile
  pnpm-lock.yaml
Labels: none

chore: changeset improvement
  .changeset/pretty-hats-count.md
  .changeset/wild-cases-learn.md
Labels: none

test: add tests for missing non-tested result functions
  packages/aio-commerce-lib-core/test/result.test.ts
Labels: none

refactor: use result only on validation attempts
  packages/aio-commerce-lib-auth/source/lib/ims-auth/provider.ts
  packages/aio-commerce-lib-auth/test/ims-auth.test.ts
Labels: pkg: aio-commerce-lib-auth

chore: changeset improvement
  .changeset/pretty-hats-count.md
  .changeset/wild-cases-learn.md
Labels: none

refactor: internal packages
  .github/DEVELOPMENT.md
  turbo/generators/create-package/README.md
  turbo/generators/create-package/index.ts
  turbo/generators/create-package/template/package.json.hbs
  turbo/generators/create-package/template/tsconfig.json.hbs
  turbo/generators/create-package/template/vitest.config.ts.hbs
Labels: generator

refactor: simplify result
  packages/aio-commerce-lib-core/source/lib/result.ts
  packages/aio-commerce-lib-core/test/result.test.ts
Labels: none

fix: create package generator
  turbo/generators/create-package/index.ts
  turbo/generators/create-package/template/package.json.hbs
Labels: generator

fix: format markdown scripts
  package.json
Labels: none

chore: update linting rules
  biome.jsonc
Labels: none

feat: error base
  packages/aio-commerce-lib-core/source/lib/error/base.ts
Labels: none

INTERNAL: Update docs (#26)
  packages/aio-commerce-lib-auth/README.md
  packages/aio-commerce-lib-core/README.md
  packages/aio-commerce-sdk/README.md
Labels: pkg: aio-commerce-sdk, pkg: aio-commerce-lib-auth

refactor: ims auth config correctly maps to aio-lib-ims expected format
  packages/aio-commerce-lib-auth/source/lib/ims-auth/provider.ts
  packages/aio-commerce-lib-auth/source/lib/integration-auth/provider.ts
  packages/aio-commerce-lib-auth/test/ims-auth.test.ts
Labels: pkg: aio-commerce-lib-auth

chore: fix changesets and lib auth tests
  .changeset/auth-changeset.md
  .changeset/core-changeset.md
  .changeset/pretty-hats-count.md
  .changeset/wild-cases-learn.md
  packages/aio-commerce-lib-auth/test/ims-auth.test.ts
Labels: pkg: aio-commerce-lib-auth

refactor: remove core utilities and leave only error + add tests
  packages/aio-commerce-lib-core/source/index.ts
  packages/aio-commerce-lib-core/source/lib/error.ts
  packages/aio-commerce-lib-core/source/lib/error/base-error.ts
  packages/aio-commerce-lib-core/source/lib/error/index.ts
  packages/aio-commerce-lib-core/source/lib/error/validation-error.ts
  packages/aio-commerce-lib-core/source/lib/result.ts
  packages/aio-commerce-lib-core/source/lib/validation.ts
  packages/aio-commerce-lib-core/test/fixtures/valibot.ts
  packages/aio-commerce-lib-core/test/result.test.ts
  packages/aio-commerce-lib-core/test/spec/lib/error/base-error.test.ts
  packages/aio-commerce-lib-core/test/spec/lib/error/validation-error.test.ts
  packages/aio-commerce-lib-core/test/validation.test.ts
  packages/aio-commerce-lib-core/tsdown.config.ts
Labels: none

refactor: use cjs type definitions for types in package
  packages/aio-commerce-lib-auth/package.json
Labels: pkg: aio-commerce-lib-auth

docs: update docs
  packages/aio-commerce-lib-auth/README.md
  packages/aio-commerce-lib-core/README.md
  packages/aio-commerce-sdk/README.md
Labels: pkg: aio-commerce-sdk, pkg: aio-commerce-lib-auth

chore: fix types in package jsons
  packages/aio-commerce-lib-auth/source/lib/integration-auth/provider.ts
  packages/aio-commerce-lib-core/package.json
  packages/aio-commerce-sdk/package.json
Labels: pkg: aio-commerce-sdk, pkg: aio-commerce-lib-auth
