Repository adobe/aio-commerce-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: aio-commerce-sdk, pkg: aio-commerce-lib-auth, generator, cfg: typescript, cfg: tsdown

.github/labeler.yml:

# See https://github.com/actions/labeler

"pkg: aio-commerce-sdk":
- changed-files:
  - any-glob-to-any-file: packages/aio-commerce-sdk/**

"pkg: aio-commerce-lib-auth":
- changed-files:
  - any-glob-to-any-file: packages/aio-commerce-lib-auth/**

"generator":
- changed-files:
  - any-glob-to-any-file: turbo/generators/**

"cfg: typescript":
- changed-files:
  - any-glob-to-any-file: configs/typescript/**

"cfg: tsdown":
- changed-files:
  - any-glob-to-any-file: configs/tsdown/**

chore: fix export paths in core lib
  packages/aio-commerce-lib-auth/source/lib/ims-auth/provider.ts
  packages/aio-commerce-lib-core/package.json
Labels: pkg: aio-commerce-lib-auth

refactor: remove deleted type from public api in auth
  packages/aio-commerce-lib-auth/source/index.ts
Labels: pkg: aio-commerce-lib-auth

chore: fix changesets
  .changeset/auth-changeset.md
  .changeset/core-changeset.md
Labels: none

Various Things (#22)
  .changeset/0.3.0.md
  .changeset/auth-changeset.md
  .changeset/core-changeset.md
  .github/DEVELOPMENT.md
  biome.jsonc
  configs/tsdown/package.json
  configs/tsdown/tsdown.config.base.ts
  package.json
  packages/aio-commerce-lib-auth/README.md
  packages/aio-commerce-lib-auth/package.json
  packages/aio-commerce-lib-auth/source/index.ts
  packages/aio-commerce-lib-auth/source/lib/ims-auth/provider.ts
  packages/aio-commerce-lib-auth/source/lib/integration-auth/provider.ts
  packages/aio-commerce-lib-auth/test/ims-auth.test.ts
  packages/aio-commerce-lib-core/README.md
  packages/aio-commerce-lib-core/package.json
  packages/aio-commerce-lib-core/source/index.ts
  packages/aio-commerce-lib-core/source/lib/error/base-error.ts
  packages/aio-commerce-lib-core/source/lib/error/index.ts
  packages/aio-commerce-lib-core/source/lib/error/validation-error.ts
  packages/aio-commerce-lib-core/source/lib/result.ts
  packages/aio-commerce-lib-core/source/lib/validation.ts
  packages/aio-commerce-lib-core/test/fixtures/valibot.ts
  packages/aio-commerce-lib-core/test/result.test.ts
  packages/aio-commerce-lib-core/test/spec/lib/error/base-error.test.ts
  packages/aio-commerce-lib-core/test/spec/lib/error/validation-error.test.ts
  packages/aio-commerce-lib-core/test/validation.test.ts
  packages/aio-commerce-lib-core/tsdown.config.ts
  packages/aio-commerce-sdk/README.md
  packages/aio-commerce-sdk/package.json
  pnpm-lock.yaml
  turbo/generators/create-package/README.md
  turbo/generators/create-package/index.ts
  turbo/generators/create-package/template/package.json.hbs
  turbo/generators/create-package/template/tsconfig.json.hbs
  turbo/generators/create-package/template/vitest.config.ts.hbs
Labels: pkg: aio-commerce-sdk, pkg: aio-commerce-lib-auth, generator, cfg: tsdown

chore: fix changesets
  .changeset/auth-changeset.md
  .changeset/core-changeset.md
Labels: none

chore: fix copyright year
  COPYRIGHT
Labels: none

INTERNAL- Minor fixes (#27)
  .changeset/auth-changeset.md
  .changeset/core-changeset.md
  COPYRIGHT
Labels: none

chore: basic renovate config
  .github/renovate.json
  .github/workflows/validate-renovate-config.yml
Labels: none

chore: add hourly limit
  .github/renovate.json
Labels: none

ci: use labels instead of comments in renovate config updates
  .github/workflows/validate-renovate-config.yml
Labels: none

ci: remove extra step
  .github/workflows/validate-renovate-config.yml
Labels: none

ci: explicit config
  .github/workflows/validate-renovate-config.yml
Labels: none

ci: remove node cache causing install issue
  .github/workflows/validate-renovate-config.yml
Labels: none

ci: fix node cache causing install issue
  .github/workflows/validate-renovate-config.yml
Labels: none

ci: remove workflow
  .github/workflows/validate-renovate-config.yml
Labels: none

chore: set branch prefix
  .github/renovate.json
Labels: none

Configure Renovate (#29)
  .github/renovate.json
Labels: none

chore: preserve semver ranges and remove rate limit
  .github/renovate.json
Labels: none

INTERNAL: renovate preserve semver ranges and remove rate limit (#44)
  .github/renovate.json
Labels: none

chore: fix copilot instructions
  .github/copilot-instructions.md
Labels: none

chore: organize imports biome
  biome.jsonc
Labels: none

chore: enforce engines
  .npmrc
  package.json
Labels: none

refactor: organize import rules and scripts
  biome.jsonc
  configs/tsdown/tsdown.config.base.ts
  packages/aio-commerce-lib-auth/package.json
  packages/aio-commerce-lib-auth/source/index.ts
  packages/aio-commerce-lib-auth/source/lib/ims-auth/provider.ts
  packages/aio-commerce-lib-auth/source/lib/integration-auth/provider.ts
  packages/aio-commerce-lib-auth/test/ims-auth.test.ts
  packages/aio-commerce-lib-auth/test/integration-auth.test.ts
  packages/aio-commerce-lib-auth/vitest.config.ts
  packages/aio-commerce-lib-core/package.json
  packages/aio-commerce-lib-core/test/spec/lib/error/base-error.test.ts
  packages/aio-commerce-lib-core/vitest.config.ts
  pnpm-workspace.yaml
  turbo/generators/config.ts
  turbo/generators/package.json
Labels: pkg: aio-commerce-lib-auth, generator, cfg: tsdown

chore: create shareable config file
  configs/biome/biome.jsonc
  configs/biome/package.json
Labels: none

refactor: standardize package json and add per-workspace biome configs
  configs/biome/biome.jsonc
  configs/biome/package.json
  configs/tsdown/biome.jsonc
  configs/tsdown/package.json
  configs/typescript/biome.jsonc
  configs/typescript/package.json
  package.json
  packages/aio-commerce-lib-auth/biome.jsonc
  packages/aio-commerce-lib-auth/package.json
  packages/aio-commerce-lib-core/biome.jsonc
  packages/aio-commerce-lib-core/package.json
  packages/aio-commerce-sdk/biome.jsonc
  packages/aio-commerce-sdk/package.json
  turbo/generators/biome.jsonc
  turbo/generators/package.json
Labels: pkg: aio-commerce-sdk, pkg: aio-commerce-lib-auth, generator, cfg: typescript, cfg: tsdown

chore: remove unused dependency
  pnpm-lock.yaml
  turbo/generators/package.json
Labels: generator

chore: use lts for .nvmrc
  .nvmrc
Labels: none

chore: setup typedoc
  biome.jsonc
  configs/typedoc/biome.jsonc
  configs/typedoc/package.json
  configs/typedoc/typedoc.json
  configs/typescript/tsconfig.base.json
  package.json
  packages/aio-commerce-lib-auth/README.md
  packages/aio-commerce-lib-auth/docs/api-reference/README.md
  packages/aio-commerce-lib-auth/docs/api-reference/functions/assertImsAuthParams.md
  packages/aio-commerce-lib-auth/docs/api-reference/functions/assertIntegrationAuthParams.md
  packages/aio-commerce-lib-auth/docs/api-reference/functions/getImsAuthProvider.md
  packages/aio-commerce-lib-auth/docs/api-reference/functions/getIntegrationAuthProvider.md
  packages/aio-commerce-lib-auth/docs/api-reference/interfaces/ImsAuthProvider.md
  packages/aio-commerce-lib-auth/docs/api-reference/interfaces/IntegrationAuthProvider.md
  packages/aio-commerce-lib-auth/docs/api-reference/type-aliases/ImsAuthEnv.md
  packages/aio-commerce-lib-auth/docs/api-reference/type-aliases/ImsAuthParams.md
  packages/aio-commerce-lib-auth/docs/api-reference/type-aliases/IntegrationAuthParams.md
  packages/aio-commerce-lib-auth/docs/api-reference/variables/IMS_AUTH_ENV.md
  packages/aio-commerce-lib-auth/docs/usage.md
  packages/aio-commerce-lib-auth/package.json
  packages/aio-commerce-lib-auth/source/lib/ims-auth/provider.ts
  packages/aio-commerce-lib-auth/source/lib/ims-auth/schema.ts
  packages/aio-commerce-lib-auth/source/lib/integration-auth/provider.ts
  packages/aio-commerce-lib-auth/source/lib/integration-auth/schema.ts
  packages/aio-commerce-lib-auth/test/ims-auth.test.ts
  packages/aio-commerce-lib-auth/typedoc.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg: aio-commerce-lib-auth, cfg: typescript

chore: configure typedoc in Core library
  README.md
  configs/typedoc/typedoc.json
  packages/aio-commerce-lib-core/README.md
  packages/aio-commerce-lib-core/docs/api-reference/README.md
  packages/aio-commerce-lib-core/docs/api-reference/error/README.md
  packages/aio-commerce-lib-core/docs/api-reference/error/classes/CommerceSdkErrorBase.md
  packages/aio-commerce-lib-core/docs/api-reference/error/classes/CommerceSdkValidationError.md
  packages/aio-commerce-lib-core/docs/usage.md
  packages/aio-commerce-lib-core/package.json
  packages/aio-commerce-lib-core/source/index.ts
  packages/aio-commerce-lib-core/source/lib/error/base-error.ts
  packages/aio-commerce-lib-core/source/lib/error/index.ts
  packages/aio-commerce-lib-core/source/lib/error/validation-error.ts
  packages/aio-commerce-lib-core/test/fixtures/valibot.ts
  packages/aio-commerce-lib-core/test/spec/lib/error/base-error.test.ts
  packages/aio-commerce-lib-core/test/spec/lib/error/validation-error.test.ts
  packages/aio-commerce-lib-core/typedoc.json
  pnpm-lock.yaml
Labels: none

chore: make vitest shareable config and use it
  configs/typescript/tsconfig.base.json
  configs/vitest/biome.jsonc
  configs/vitest/package.json
  configs/vitest/vitest.config.js
  package.json
  packages/aio-commerce-lib-auth/docs/api-reference/functions/assertImsAuthParams.md
  packages/aio-commerce-lib-auth/docs/api-reference/functions/assertIntegrationAuthParams.md
  packages/aio-commerce-lib-auth/docs/api-reference/functions/getImsAuthProvider.md
  packages/aio-commerce-lib-auth/docs/api-reference/functions/getIntegrationAuthProvider.md
  packages/aio-commerce-lib-auth/docs/api-reference/interfaces/ImsAuthProvider.md
  packages/aio-commerce-lib-auth/docs/api-reference/interfaces/IntegrationAuthProvider.md
  packages/aio-commerce-lib-auth/docs/api-reference/type-aliases/ImsAuthEnv.md
  packages/aio-commerce-lib-auth/docs/api-reference/type-aliases/ImsAuthParams.md
  packages/aio-commerce-lib-auth/docs/api-reference/type-aliases/IntegrationAuthParams.md
  packages/aio-commerce-lib-auth/docs/api-reference/variables/IMS_AUTH_ENV.md
  packages/aio-commerce-lib-auth/package.json
  packages/aio-commerce-lib-auth/vitest.config.ts
  packages/aio-commerce-lib-core/docs/api-reference/error/classes/CommerceSdkErrorBase.md
  packages/aio-commerce-lib-core/docs/api-reference/error/classes/CommerceSdkValidationError.md
  packages/aio-commerce-lib-core/package.json
  packages/aio-commerce-lib-core/vitest.config.ts
  pnpm-lock.yaml
Labels: pkg: aio-commerce-lib-auth, cfg: typescript

chore: refine docs scripts
  packages/aio-commerce-lib-auth/package.json
  packages/aio-commerce-lib-core/package.json
Labels: pkg: aio-commerce-lib-auth

chore: run style for all files
  configs/tsdown/package.json
  configs/typedoc/package.json
  configs/typescript/package.json
  configs/vitest/package.json
  packages/aio-commerce-lib-auth/package.json
  packages/aio-commerce-sdk/package.json
  turbo/generators/package.json
Labels: pkg: aio-commerce-sdk, pkg: aio-commerce-lib-auth, generator, cfg: typescript, cfg: tsdown

chore: update generator create-package
  turbo/generators/create-package/template/biome.jsonc.hbs
  turbo/generators/create-package/template/package.json.hbs
  turbo/generators/create-package/template/source/index.ts.hbs
  turbo/generators/create-package/template/test/index.test.ts.hbs
  turbo/generators/create-package/template/typedoc.json.hbs
  turbo/generators/create-package/template/vitest.config.ts.hbs
  turbo/generators/package.json
Labels: generator

chore: remove postbuild docs hook
  packages/aio-commerce-lib-auth/package.json
  packages/aio-commerce-lib-core/package.json
  turbo/generators/create-package/template/package.json.hbs
Labels: pkg: aio-commerce-lib-auth, generator

chore: remove declaration and declarationMap from tsconfig
  configs/typescript/tsconfig.base.json
Labels: cfg: typescript

chore: add clarifying note in index sdk file
  packages/aio-commerce-sdk/source/index.ts
Labels: pkg: aio-commerce-sdk

refactor: remove namespaced exports, fix package jsons and strip node protocol
  configs/tsdown/tsdown.config.base.ts
  package.json
  packages/aio-commerce-lib-auth/package.json
  packages/aio-commerce-lib-core/docs/api-reference/README.md
  packages/aio-commerce-lib-core/docs/api-reference/error/classes/CommerceSdkErrorBase.md
  packages/aio-commerce-lib-core/docs/api-reference/error/classes/CommerceSdkValidationError.md
  packages/aio-commerce-lib-core/package.json
  packages/aio-commerce-lib-core/source/error/base-error.ts
  packages/aio-commerce-lib-core/source/error/index.ts
  packages/aio-commerce-lib-core/source/error/validation-error.ts
  packages/aio-commerce-lib-core/source/index.ts
  packages/aio-commerce-lib-core/test/spec/error/base-error.test.ts
  packages/aio-commerce-lib-core/test/spec/error/validation-error.test.ts
  packages/aio-commerce-lib-core/tsdown.config.ts
  packages/aio-commerce-lib-core/typedoc.json
  packages/aio-commerce-sdk/README.md
  packages/aio-commerce-sdk/package.json
  packages/aio-commerce-sdk/source/index.ts
  pnpm-lock.yaml
  turbo.json
Labels: pkg: aio-commerce-sdk, pkg: aio-commerce-lib-auth, cfg: tsdown

docs: add docs for new shareable configs
  configs/tsdown/README.md
  configs/typedoc/README.md
  configs/vitest/README.md
  configs/vitest/vitest.config.d.ts
  configs/vitest/vitest.config.js
  package.json
  packages/aio-commerce-lib-auth/package.json
  packages/aio-commerce-lib-auth/vitest.config.ts
  packages/aio-commerce-lib-core/package.json
  packages/aio-commerce-lib-core/vitest.config.ts
  pnpm-lock.yaml
Labels: pkg: aio-commerce-lib-auth, cfg: tsdown

chore: license banner on builds and coverage output on turbo
  configs/tsdown/tsdown.config.base.ts
  turbo.json
Labels: cfg: tsdown

chore: fix licenses
  configs/tsdown/tsdown.config.base.ts
  configs/vitest/vitest.config.d.ts
  configs/vitest/vitest.config.js
  packages/aio-commerce-lib-auth/source/index.ts
  packages/aio-commerce-lib-auth/source/lib/ims-auth/provider.ts
  packages/aio-commerce-lib-auth/source/lib/ims-auth/schema.ts
  packages/aio-commerce-lib-auth/source/lib/integration-auth/provider.ts
  packages/aio-commerce-lib-auth/source/lib/integration-auth/schema.ts
  packages/aio-commerce-lib-auth/test/ims-auth.test.ts
  packages/aio-commerce-lib-auth/test/integration-auth.test.ts
  packages/aio-commerce-lib-auth/tsdown.config.ts
  packages/aio-commerce-lib-auth/vitest.config.ts
  packages/aio-commerce-lib-core/source/error/base-error.ts
  packages/aio-commerce-lib-core/source/error/index.ts
  packages/aio-commerce-lib-core/source/error/validation-error.ts
  packages/aio-commerce-lib-core/test/fixtures/valibot.ts
  packages/aio-commerce-lib-core/test/spec/error/base-error.test.ts
  packages/aio-commerce-lib-core/test/spec/error/validation-error.test.ts
  packages/aio-commerce-lib-core/tsdown.config.ts
  packages/aio-commerce-lib-core/vitest.config.ts
  packages/aio-commerce-sdk/source/auth.ts
  packages/aio-commerce-sdk/source/core.ts
  packages/aio-commerce-sdk/tsdown.config.ts
  turbo/generators/config.ts
  turbo/generators/create-package/index.ts
  turbo/generators/create-package/template/source/index.ts.hbs
  turbo/generators/create-package/template/test/index.test.ts.hbs
  turbo/generators/create-package/template/tsdown.config.ts.hbs
  turbo/generators/create-package/template/vitest.config.ts.hbs
Labels: pkg: aio-commerce-sdk, pkg: aio-commerce-lib-auth, generator, cfg: tsdown
