Repository adobe/aio-commerce-sdk, pull requests merged in 2025-07, with the labels that each got.

#13 Clarifying notes in Development guide
  .github/DEVELOPMENT.md
  README.md
  packages/aio-commerce-lib-auth/README.md
  packages/aio-commerce-sdk/README.md
Labels: pkg: aio-commerce-sdk, pkg: aio-commerce-lib-auth

#14 Fix template and root readme
  README.md
  turbo/generators/create-package/template/package.json.hbs
Labels: generator

#26 INTERNAL: Update docs
  packages/aio-commerce-lib-auth/README.md
  packages/aio-commerce-lib-core/README.md
  packages/aio-commerce-sdk/README.md
Labels: pkg: aio-commerce-sdk, pkg: aio-commerce-lib-auth

#54 FIX: cjs loader pattern in package.json require
  .changeset/empty-wombats-swim.md
  packages/aio-commerce-lib-core/package.json
Labels: without-changeset, pkg: aio-commerce-lib-core, with-changeset
